<h1 class="elegantshadow">welcome to the groopify challenge</h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ">
      <img id="cover" src="http://www.zoomnews.es/sites/default/files/images/201401/groopify_captura_amigos_13012014.jpg" alt="">
    </div>
  </div>
</div>